.root{
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}
.container{
    width: 1280px;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    position: relative;
    top:0;
    right:0;
    left: 0;
    z-index: 99;
    /* fix background issue here */
    background-color: #212121;
    padding: 16px 32px;
    border-bottom: 3px solid #EEEEEE;
    
}
h1{
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase ;
}
.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;

}
.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #EEEEEE;
    border-radius: 6px;
    z-index: 1;
    transition: 0 0;
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: #8c38ff;
}
.hamburger.is-active span:nth-child(1){
    transform: translate(-2px, 5px) rotate(45deg);

}
.hamburger.is-active span:nth-child(2){

    opacity: 0;
    transform: translateX(15px);
}


.hamburger.is-active span:nth-child(3){
    transform: translate(-4px, -13px) rotate(-45deg);


}
.hamburger.is-active:hover span{
    background-color: #8c38ff;
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;

     
}
.menu a{
    color: #fff;
    margin: 0 16px;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;

}
.menu a:hover{
    color: #EEEEEE;
    text-decoration: none;
}
.menu a:hover{
    background-color: #8c38ff;
}
@media (min-width:768px){
    .hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }
}